
// Fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $bg-color;
  color: $primary-font-color;
  font-family: $primary-font;
  font-weight: 300;

  .column {
    background-color: $column-color;
    border-radius: 5px;
  }
  h2 {
    font-size: 30px;
    font-weight: 300;
  }
  #main-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

#top-statistics-holder {
  padding-top: 45px;
  
  .top-statistics-count {
    display: inline-block;
    font-size: 35px;
    transform: translateY(7px);
  }
  .top-statistics-text {
    display: inline-block;
    color: $secondary-font-color;
    font-size: 15px;
    transform: translateY(2px);
  }
}

#progression-holder {
  padding: 25px 25px 85px 25px;

  #progression-inner-holder {
    text-align: center;
    #progression-award-icon {
      margin-top: 95px;
    }
    #progression-lvl {
      font-weight: 500;
      font-size: 20px;
    }
    #progression-xp {
      margin-top: 65px;
      color: $secondary-font-color;
    }
    #progression-rewards-holder {
      padding: 12px 0 28px 0;
      border-bottom: 1px solid $secondary-font-color;

      img {
        padding: 0 9px;
      }
    }
    #progression-second-header {
      padding: 20px 0 26px 0;
    }
    .progress {
      clear: left;
      background-color: #343c49;
      border-radius: 5px;
    }
    .progress-bar-holder {
      padding-bottom: 20px;

      .progress-subject {
        font-size: 20px;
        float: left;
      }
      .progress-lvl {
        transform: translateY(6px);
        font-size: 15px;
        color: $secondary-font-color;
        text-transform: uppercase;
        float: right;
      }
    }
  }
}

#about-me-holder {
  padding: 50px;
}

#recomendations-holder {
  margin-top: 30px;
  padding: 25px 25px 30px 25px;

  h2 {
    padding-bottom: 8px;
  }

  #recomendations-person-holder {
    margin-top: 50px;
    overflow: hidden;

    #recomendations-photo-holder {
      position: absolute;
      bottom: 20px;
    }
    #recomendations-name-holder {
      display: inline-block;
      background-color: #303846;
      padding: 17px 0 17px 90px;
      margin-left: 20px;
      width: 100%;
  
      p {
        line-height: 1;
        margin-bottom: 0;
      }
      p:first-child {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

#featured-certificate-holder {
  margin-top: 30px;
  padding: 38px 25px 40px 25px;
  text-align: center;

  #certificates-medal-holder {

    #certificates-medal {
      display: inline-block;
      transform: translateY(-17px);
    }
    #certificates-count {
      display: inline-block;
      line-height: 1;
      font-size: 68px;
      padding-bottom: 10px;
    }
  }
  #certificates-count-text {
    font-size: 18px;
    color: $secondary-font-color;
    border-bottom: 1px solid $secondary-font-color;
    padding-bottom: 27px;
  }
  #featured-certificate-header {
    font-size: 18px;
    padding: 32px 0 28px 0;
  }
}

#earned-certificates-holder {

  #earned-certificates-header {
    padding: 25px 0 15px 0;
  }
  #earned-certificates-inner-holder {
    margin: 0 0 10px 0;

    .earned-certificate-left-img-holder {
      border-right: 1px solid $secondary-font-color;
    }
    .earned-certificate-title-holder {
      padding: 10px 0 10px 15px;
      
      p {
        margin-bottom: 7px;
        line-height: 1.1;
      }
      .certificate-info {
        color: $secondary-font-color;
        font-size: 12px;

        span i {
          font-size: 14px;
          padding-right: 5px;
        }
        span:first-child {
          padding-right: 10px;
        }
      }
    }
    .download-btn-holder {
      
      button:nth-child(1) {
        border: none;
        font-weight: 500;
        background-color: #02bb8c;

        &:hover {
          background-color: #29cea2;
        }
      }
      button:nth-child(2) {
        border: none;
        background-color: #29cea2;
      }
    }
  }
  #show-all-btn {
    color: $secondary-font-color;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid $secondary-font-color;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 15px;

    &:hover {
      opacity: .7;
    }
  }
}
